@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Work Sans", sans-serif;
}

html{
    font-size: 62.5%;
}

:root {
    --primary-color: #3272fd;
    --white-color: #fff;
    --black-color: #000;
}

/*section 1 */

.section-1{
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    clip-path: polygon(100% 0, 100% 84%, 5% 100%, 0 100%, 0 0);
    position: relative;
}

/*logo*/
.logo{
    position: absolute;
    top: 3rem;
    left: 3rem;

}

.logo i{
    font-size: 5rem;
    color:black;
}
/*fim da logo*/

/*navbar*/
